header{
	width: 100%
	font-size: 28px;
	padding: .5em;
	background-color: rgb(67, 150, 170);
	color: white; 
}

.menu {
	background-color: rgb(62, 52, 54);
	border-radius: 10px;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	color: white;
}

/*top level menu*/
.menu > ul > li {
	display: inline-block;
	position: relative;
	font-size: 20px;
}

.menu > ul > li > a{
	padding: .25em 1em;
}